/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Layout geral */
body {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #6b6b7228;
  color: #414950;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

p {
  text-align: center;
  margin-bottom: 20px;
}

/* Navegação */
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

nav a {
  text-decoration: none;
  padding: 10px 15px;
  background-color: #c4d0db;
  color: rgb(21, 28, 29);
  border-radius: 5px;
  text-align: center;
  flex: 1 1 40%; /* cada link ocupa no mínimo 40% da largura da tela */
  transition: background-color 0.2s;
}

nav a:hover {
  background-color: #34495e;
}

/* Botões principais */
button {
  display: block;
  width: 100%;
  max-width: 250px; /* reduzido para caber melhor */
  margin: 10px auto;
  padding: 12px;
  background-color: #2c3e50;
  color: rgb(194, 228, 219);
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #34495e;
}

/* Resultado dos números como bolas */
#resultado,
#resultado-lotofacil,
#resultado-quina,
#resultado-lotomania,
#resultado-dupla1,
#resultado-dupla2,
#resultado-federal,
#resultado-timemania {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

/* Cada número como bola */
.numero-bola {
  width: 50px;
  height: 50px;
  background-color: #fdfffe;
  color: #2c3e50;
  font-weight: bold;
  font-size: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  transition: transform 0.2s;
}

.numero-bola:hover {
  transform: scale(1.2);
}

/* Responsividade */
@media (max-width: 480px) {
  nav a {
    flex: 1 1 100%;
  }

  button {
    font-size: 14px;
    padding: 10px;
    max-width: 200px;
  }

  .numero-bola {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
}

.nav-buttons {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.nav-buttons li {
  flex: 1 1 40%; /* cada botão ocupa no mínimo 40% da largura */
}

.nav-buttons a {
  display: block;
  text-decoration: none;
  padding: 12px 0;
  background-color: #2c3e50;
  color: rgb(202, 197, 197);
  border-radius: 25px;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

.nav-buttons a:hover {
  background-color: #9dacbb;
  transform: scale(1.05);
}

/* Responsivo */
@media (max-width: 480px) {
  .nav-buttons li {
    flex: 1 1 100%;
  }
}
